html { 
    /* background: url(../images/stars_glare_space_black_sky_background_4k_hd_galaxy.jpg) no-repeat center center fixed;  */
    background-color: #ffe6ca;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: "Lato", sans-serif;
    font-size: large;
    color: #123c69;
}

.content-subhead {
    text-align: center;
    color: #ac3b61;
}

.main {
    display: block;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 0;
    background-color: #edc7b7ce;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.content {
    padding: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.menu {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    color: #ac3b61;
}
  
.row {
    padding: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #bab2b5;
    display: flex;
}
  
.column {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    flex: 50%;
}
  
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2a2728;
    overflow-x: hidden;
    transition: 0.0s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 8px 32px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
    margin-right: 50px;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
  
#photos {
    /* Prevent vertical gaps */
    line-height: 0;
    margin: 0 auto;
    width: 90%;
     
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    column-count: 3;
    column-gap: 0px;  
}

#photos img {
    /* Just in case there are inline attributes */
    width: 100%;
    height: auto;
}

img {
    margin: 0 auto;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}